APPLE_TEAM_ID="TEAMID1234"
APPLE_NOTARY_KEYCHAIN_PROFILE="mfuse-notary"
MFUSE_BASE_VERSION="1.0"
SIGNING_IDENTITY="Developer ID Application"
PROFILES_DIR="$HOME/Library/Developer/Xcode/UserData/Provisioning Profiles"
APP_PROFILE_NAME="MFuse App Release Profile"
EXTENSION_PROFILE_NAME="MFuse Provider Release Profile"
